.pointer {
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    margin-right: 15px;
   
}

.text{
    position: absolute;
    margin-top:300px ;
    left: 50%;
    font-size: 50px;
    padding: 1px; 
    transform: translate(-50%, -50%);
    color:rgb(255, 202, 243);font-family: 'Tenor Sans', sans-serif;text-shadow: black  5px 5px 90px;
    width: 1665px; /* Ширина слоя */
    text-align: center;
    padding: 5px; /* Поля вокруг текста */
    
    background: rgba(17, 17, 17, 0.411); /* Цвет фона */
}
.cont {
    position: relative;
    
    
}
.wrapper2 {
    right: 0;
    
    width: 100px;
    z-index: 100;
    height: 350px;
    background: white;
    position: fixed;
    top:300px;
}
ul {
    padding: 15px;
    margin: 0;
    list-style-type: none;
}
.img1 li {
    text-align: center;
    padding: 22px;
    list-style-type: none;
}
:root {
    --color-light: #f8f9fa;
    --color-white: #fff;
    --color-unaccent: #ffffff;

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --border-radius: 3px;
    
	--box-shadow: 
		0 26px 35px 10px rgba(0, 0, 0, 0.02), 
		0 16px 50px 10px rgba(0, 0, 0, 0.04), 
		0 18px 30px -5px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;

    padding: 0;
    font-family: 'Tenor Sans', sans-serif;
    line-height: 1.7;
    background-color: rgb(255, 147, 248);
}
.footer {
    width: 100%;
    height: 200px;
    background: rgb(255, 255, 255);
    margin-top: -20px;
   
}
H1 {
    margin: auto;
    text-align: center;
    padding-top: 60px;
     font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Syne', sans-serif;
    
    color: rgb(0, 0, 0);
}
.svaz {
    margin-left: 380px;
    font-size: 18px;
     font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Syne', sans-serif;
    font-style: oblique;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
}
.tire {
    margin-left: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
}
.u {
    margin-left: 35px;
    font-size: 18px;
    font-family: CANDARA;
    margin-bottom: 35px;
    font-style: oblique;
    color: rgb(0, 0, 0);
}
.n {
    margin-left: 35px;
    font-size: 18px;
    font-family: CANDARA;
    margin-bottom: 35px;
    font-style: oblique;
    color: rgb(0, 0, 0);
}
#bottom{
    scroll-behavior: smooth;
    text-decoration: none; 
    
}
html {
    scroll-behavior: smooth;
    }
a{
    text-decoration: none; 
    color:rgb(56, 36, 30);
}
.container5 {
    
    max-width: 300px;
    margin: 0 auto;
}
.flex-outer {
    max-width: 800px;
    margin: 0 auto;font-weight: bold;
}
.flex-outer, .flex-inner {
    list-style-type: none;
    padding: 10px;
}
.flex-outer > li > label, .flex-outer li p {
    max-width: 220px;font-weight: bold;
}
.flex-outer li label, .flex-outer li p {
    padding: 10px;
    margin: 10px;
    font-weight: 300;
    letter-spacing: .09em;font-weight: bold;
   
}
.flex-outer li input:not([type='checkbox']), .flex-outer li textarea {
    padding: 15px;
}
.flex-outer > li > label + *, .flex-inner {
    flex: 1 0 220px;
}
.container5 * {
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-family: 'Marck Script', cursive;
    
    text-shadow:0px 0px 25px rgb(212, 212, 212); 
    
}
.menu{
    padding: 12px; padding-left:17px; padding-right: 17px;
    border-radius: 50px; background: rgb(255, 210, 253);font-size: 30px;
}
.name{
    font-weight: bold;
}