.shopping-container {
    width: 36%;
    height: 99vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: var(--spacing-large);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    overflow-y: scroll;
}
.shopping-element__name {
    padding: 20px;
    margin-left:  20px;
    font-weight: bold;
    
    
}
.shopping-element__price {
    padding: var(--spacing-medium);
    color: black;
}
.shopping__close {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
    background-image: url("#src/img/catalog/11.png");
   
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}
tbody{
   text-align: center;font-weight: bold;
}
.sub{
    font-family: CANDARA;
    color: white;
    background: black;border: solid black;padding: 7px; border-width: 1.5px;font-weight: bold;
}